
<!-- content -->
<article id="content">
  <section class="col1">
    <div class="wrapper pad_bot2">
      <figure class="left marg_right1">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :id => "newsletter"}) do |f| %>
            <%= render :partial => "edit_profile", :locals => {:f => f } %>
            <div class="btn_edit">
              <%= f.submit "Update info", :class=> "button" %>
            </div>
          <% end %>
          <div class="cancel_my_acc">Cancel my account</div>
          <div class="unhappy">
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
        </div>
      </figure>
      <p class="pad_bot1 pad_top1"><span class="color1"></span></p>
      <p></p>
    </div>
    <div class="wrapper pad_bot2">
      <figure class="left marg_right1"></figure>
      <p class="pad_bot1 pad_top1"><span class="color1"></span></p>
      <p></p>
    </div>
    <div class="wrapper">
      <figure class="left marg_right1"></figure>
      <p class="pad_bot1 pad_top1"><span class="color1"></span></p>
      <p></p>
    </div>
  </section>
  <section class="col2">
    <% if !user_signed_in? %>
      <%= render :partial => 'home/content' %>
    <% end %>
  </section>
</article>
<!-- / content -->


