<!-- <img id="profileImage" class="photo" alt="Devendra Bpsi | Elance" src="https://ws.elance.com/php/files/main/download.php?crypted=Y3R4JTNEcHJvZmlsZV9pbWFnZSUyNmZpZCUzRDU4MjQ3MTg1JTI2cmlkJTNELTElMjZwaWQlM0Q0ODI0Njc5JTI2dCUzRDE=" style="border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true); "> -->
<div class="eol-layout-s1" id="p-menu">
	<div id="profimeImage">
		<%= link_to (image_tag current_user.profile_picture , :alt => "Profile Picture", :title => "Change?", :style => "border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true);"), edit_user_registration_path if current_user.profile_picture.present? %>
		<%= link_to (image_tag current_user.facebook_image , :alt => "Profile Picture", :title => "Change?", :style => "border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true);"), edit_user_registration_path if current_user.facebook_image.present? %>
	</div>
	<div class="clear"></div>
	<div class="edit-btn">
		<a class="edit-btn" href="/edit" title="Edit Profile Picture" style="float: left; margin-top: 3px;"> <span>Edit</span> </a>
		<div class="clear"></div>
	</div>
	<div>
		<ul class="nav-left">
			<li id="nav-left-li-" class="nav-left-selected">
				<a class="nav-left-item" href="/"><span class="span-item">Overview </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Job History </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Portfolio </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Skills </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Resume/C.V. </span></a>
			</li>
			<li>
				<div class="nav-left-divider">
					&nbsp;
				</div>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Contact Info </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Privacy Settings </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Public View of Profile </span></a>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="eol-layout-s4" id="p-content">
	<div class="eol-layout-s4" id="p-hd">
		<%= render :partial => "show_short_user_info", :locals => {:user => user} %>
	</div>
	<div class="eol-layout-s4" id="p-bd">
		<%= render :partial => "show_short_user_overview", :locals => {:user => user} %>
	</div>
	<div class="clear"></div>
	<div class="p-spacer"></div>
	<!-- Skills -->
	<h2 class="p-header padding_skill"> Skills </h2>
	<a class="edit-btn" href="/edit" title="Edit Basic Information"><span>Edit</span></a>
	<div class="clear"></div>
	<table class="profileTable">
		<thead>
			<tr>
				<th id="firstcol" style="width: 220px; padding-left: 17px;">Skill</th>
				<th id="lastcol" colspan="2">Score</th>
			</tr>
		</thead>
		<tbody>
			<% if user.skills.present? %>
				<% user.skills.order(:name).each do |skill| %>
				<tr>
					<td class="binrowheader providerProfileSkillItemRow" style="padding-top: 13px; font-weight: normal; padding-left: 17px;">
						<%= skill.name %>
					</td>
					<td class="providerProfileSkillItemRow" style="overflow: visible; padding-top: 13px;">
						<div style="position: relative; text-align: left; padding-top: 3px;">
							<div class="testedChart">
								<%= skill.proficiency %>
							</div>
						</div>
					</td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<div class="clear"></div>
	<div class="p-spacer-large"></div>
	<!-- Resume -->
	<h2 class="p-header padding_keyword"> Experience </h2>
	<a class="edit-btn" href="/edit" title="Edit Basic Information"><span>Edit</span></a><br />
	
	<div class="p-about-txt-jobProfile">
	<% if user.experiences.present? %>
		<% user.experiences.each do |exp| %>
		<div class="p-cred-title-2">
			<div class="left">
				<%= exp.company_name %> , <%= exp.location %>
			</div>
			<div class="clear"></div>
			<div class="p-cred-subtitle">
				<%= exp.title %>
			</div>
			<div class="p-cred-subtitle-3">
				<%= exp.start_date %> to <%= exp.end_date %>
			</div>
		</div>
		<div class="p-cred-verif-editMode"></div>
		<div class="clear"></div>
		<div class="p-cred-desc">
			<%= exp.description %>
		</div>
		<% end %>
	<% end %>
	</div>
	<div class="p-spacer-large"></div>
	<!-- KeyWords -->
	<div id="p-keywords">
		<h2 class="p-header padding_keyword">Keywords</h2>
		<a class="edit-btn" href="#" title="Edit Keywords"><span>Edit</span></a><br />
		<div class="keywordRow">
			<div class="keywordRow keywordCell p-about-txt-jobProfile">
				<%= user.profile.keyword if user.profile %>
				<% if user.skills.present? %>
					<% user.skills.order(:name).each do |skill| %>
						<%= skill.name %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
