<h3>Profile</h3>
<div><h4>Email</h4><%= text_field_tag :email, user.email if user.email.present? %></div>
<h4>Username</h4><%= text_field_tag :email,user.username if user.username.present? %>
<h4>I am</h4><%= text_field_tag :email,user.iam if user.iam.present? %>
<h4>Looking for</h4><%= text_field_tag :email,user.iamlookingfor.html_safe if user.iamlookingfor.present? %>
<h4>First Name</h4><%= text_field_tag :email,user.first_name if user.first_name.present? %>
<h4>Last Name</h4><%= text_field_tag :email,user.last_name if user.last_name.present? %>
<h4>Country</h4><%= text_field_tag :email,user.country.name if user.country.present?%>
<h4> Recommended People for you </h4> 
	<% @users.each do |user| %>
		<%= link_to user.username if user.iamlookingfor == user.iam %>
	<% end %>
<%= link_to "Edit profile", edit_user_registration_path %>