<div class="p-layout-s3">
	<%= link_to "Edit", "#", :class => "edit-btn", :id => "edit_username", :title => "Edit Basic Information", :style => "position: relative; z-index: 1;margin-top:12px;", :remote => true %>
	<div class="p-title-div">
		<h1 id="p-title" class="fn left padding_username"><%= user.first_name %> <%= user.last_name %></h1>
		<div class="clear"></div>
		<br />
		<span class="p-summary-tagline title"><%= user.profile.tagline if user.profile %> <%= user.about_me if user.about_me.present? %></span>
	</div>
</div>
<div class="clear"></div>
<div class="p-summary-location adr">
	<div class="left">
		<span class="country-name"><%= user.country.present?  ? user.country.name : "" %><%= user.hometown if user.hometown.present? %></span> |
	</div>
	<div class="left">
		<span class="locality"><%= user.profile.city if user.profile %><%= user.location if user.location.present? %></span> , <span class="region"><%= user.profile.state if user.profile %></span>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<script>
	$("#edit_username").click(function(){
		$("#p-hd").html('<%= escape_javascript(render :partial => 'home/short_user_info', :locals => {:user => @user_fname_lname} ).html_safe %>');
	});

</script>


